$bg-color-primary: #eee;
$color-heading-primary: #000;
$color-subheading-primary: #aaa;
$color-action-primary: #ccc;
$color-action-selected-primary: #bbb;
$color-content-primary: #000;

$bg-color-secondary: #fff;
$color-heading-secondary: #000;
$color-subheading-secondary: #aaa;