$bg-color-primary: #32648F;
$color-heading-primary: #A3CEF1;
$color-subheading-primary: #FFF;
$bg-color-action-primary: #EFE9F4;
$color-action-primary: #A3CEF1;
$color-action-selected-primary: #4D9DE0;
$color-content-primary: #000;
$bg-color-dark-primary: #313E50;

$bg-color-secondary: #EFE9F4;
$color-heading-secondary: #313E50;
$color-subheading-secondary: #4D9DE0;
$color-content-secondary: #fff;